* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Asap', 'sans-serif';
    background-color: #197278;
}

.main-container {
    min-height: 80vh;
    width: 60%;
    margin: 9rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(247, 247, 247);
    border-radius: .5rem;
    border: .3rem solid rgb(12,5,41);
}

.header-title {
    font-size: 4rem;
    font-weight: 300;
    color: #333;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-height: 30vh;
    margin: 0 auto;
    
}

.header-score {
    font-size: 5rem;
    color: #333;
    font-weight: 300;
    letter-spacing: .2rem;
}

.user-and-computer {
    display: flex;
    width: 30%;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
}

.user {
    color: #333;
    font-size: 2.5rem;
    font-weight: 300;
}

#user-score {
    color: #333;
    font-size: 2.5rem;
    flex: 0 0 30%;
}

.computer {
    color: #333;
    font-size: 2.5rem;
    font-weight: 300;

}

#computer-score {
    color: #333;
    font-size: 2.5rem;
}

.header-secondary {
    font-size: 2rem;
    color: #333;
    font-weight: 300;
}

.result {
    font-size: 3rem;
    font-weight: 300;
    color: #333;
}

.game-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

#rock {
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    background-color: rgba(12,5,41,0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .30);
}

#rock:hover {
    background-color: rgba(12,5,41,1);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, .50);
}

#paper {
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    background-color: rgba(12,5,41,0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .30);
}

#paper:hover {
    background-color: rgba(12,5,41,1);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, .50);
}

#scissors {
    width: 18rem;
    height: 18rem;
    cursor: pointer;
    background-color: rgba(12,5,41,0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .30);
    
}

#scissors:hover {
    background-color: rgba(12,5,41,1);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, .50);
}

.img {
    width: 70%;
    height: 70%;
    
}